asdfghjsdfghjk,sdf'ghjhwerthjsasdfghjmkfdsasdfghjhsasdfghgfdsasdfghjm
.header-bottom-links {
    background-color: silver;
  

}

.strip_header ul {
    float: right;
    margin-top: 5px;
  
}

.strip_header ul li {
display: inline;
padding: 5px;

}


.strip_header ul li a {
    color: black;
}

a:hover {
    color: transparent;
}

.logo {
    
    float: left;

}

.logo img {
    margin-top: 10px;
    margin-left: 0px;
}

.logo .search-box {
        
float: right;
margin-top: 10px;
}

.logo  input[type=text] {
    
    width: 550px;
    padding: 7px;
    
}

.logo .search-box button {
    background-color: orange;
    color: white;
    padding: 7px;
    
}

.unordered-list {

    margin-top: 17px;
    
}

.unordered-list .container {
    background-color: green;
}

.mylist ul {
    float: left;
    margin-top: 5px;

}

.mylist ul li {
    
    color: white;
    display: inline;
    padding: 10px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;

}

.row {
    float: left;
}
